<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shop_e">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Invoice"
            android:parentActivityName=".DashboardActivity"></activity>
        <activity android:name=".ShowCartActivity" />
        <activity android:name=".only_image_activity"
            android:parentActivityName=".product_activity"/>
        <activity android:name=".DashboardActivity" />
        <activity android:name=".start_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".product_activity"
            android:parentActivityName=".DashboardActivity"/>
        <activity android:name=".MainActivity" />
    </application>

</manifest>